<section class="read-more-section">
    <div class="block-title">
        <hr>
        <h2>Read More</h2>
    </div>
    <ul class="two-line-list">
        <li><a href="#">It is a long established fact that a reader</a></li>
        <li><a href="#">Many desktop publishing packages and web page editors now use</a></li>
        <li><a href="#">Contrary to popular belief, Lorem Ipsum is not simply random text</a></li>
        <li><a href="#">There are many variations of passa</a></li>
        <li><a href="#">If you are going to use a passage of Lorem Ipsum</a></li>
    </ul>
</section>
